body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-color{
    color: #674EDB;
}
#first-id{
    display: flex;
    margin-bottom: 100px;
}
#second-id{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 90%;
}
.half-width p{
    text-align: justify;
}
.link-button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(#7D30D8,#674EDB );
   /* background-color: #674EDB;*/
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.side-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width.second-section{
    padding-right: 10%;

}
#third-id{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exp{
    text-align: center;
}
.container{
    display: flex;
    margin-bottom: 100px;
}
.half{
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    box-shadow: 10px 10px 30px #674EDB;
    
}
p{
    text-align: justify;
}
.border1{
    border-left: 7px solid;
    border-image: linear-gradient(red, #674EDB);
    border-image-slice: 1;
}
.border2{
    border-left: 7px solid;
    border-image: linear-gradient(#674EDB, #f7a088);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: larger;
}